html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	background: linear-gradient(to bottom left, white, #BDBDBD);
}

.rectangle {
	opacity: 0.75;
	position: absolute;
}

#click {
	background: linear-gradient(to top right, white, #BDBDBD);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	font-size: 200px;
	font-family: Arial;
	top: 50%;
 	left: 50%;
 	position: absolute;
 	transform: translateX(-50%) translateY(-50%);
}

.centralLines {
	/*opacity: 0.3;*/
	background: red;
	width: 100%;
 	position: absolute;
 	transform: translateX(-50%) translateY(-50%);
}