html, body{
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: 100% 100%;
	background: linear-gradient(to bottom left, white, #BDBDBD);
}

.rectangle {
	opacity: 0.8;
	position: absolute;
}